/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.card img {
  object-fit: cover;
  object-position: center;
  height: 33dvh;
}

.card:hover {
  border-color: var(#0d3b08) !important;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}